<div ng-controller="kanbanController">
  <div class="container-fluid">
    <h4>Board Members</h4>
    <span ng-repeat="worker in kanban.workers">
      <kb-worker worker="worker"></kb-worker>
    </span>
  </div>

  <br>

  <div class="kanban-container">
    <div ng-repeat="category in kanban.categories">
      <kb-category></kb-category>
    </div>
    <div>
      <div class="category-container">
        <div class="form-group">
          <input type="text" class="input-md form-control" placeholder="Add a category..." ng-model="newCat" ng-keypress="createCategory(newCat, $event)">
          <button ng-click="createCategory(newCat)" class="btn btn-default btn-block">Add Category</button>
        </div>
      </div>
    </div>
  </div>
</div>
